* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container--sign {
    color: #4E5D78;
}

.sign--header {
    padding: 20px 0px 20px 30px;
    background-color: white;
}
.sign-header_h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
}

.sign--main{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 580px;
    /* border: 1px solid red; */
}
.sign--main_title{
    margin: 0;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
}
.sign--main_p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}
.sign--main_btns{
    margin-top: 40px;
}
.sign--main_btns > button{
    width: 240px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(78, 93, 120, 0.05);
    border: none;
    outline: none;
    color: #4E5D78;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.sign--main_btns > button:first-of-type{
    margin-right: 20px;
}
.sign--main_btn_icon{
    margin-right: 25px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.sign--main_divide{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign--main_divide_line{
    height: 1px;
    width: 217px;
    background-color: rgba(78, 93, 120, 0.2);
}
.sign--main_divide_text{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0 21px;
}
.form_input{
    width: 500px;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #4E5D78;
    text-indent: 45px;
    margin-top: 20px;
    background-image: url('./icons/email.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
}

.sign--main_form > p:first-of-type > input{
    margin-top: 0;
}
.sign--main_form > p:nth-of-type(2) > input{
    background-image: url('./icons/name.svg');
}
.sign--main_form > p:nth-of-type(3) > input{
    background-image: url('./icons/password.svg');
}
.sign--main_form > p:nth-of-type(4) > input{
   
}
.date_gender{
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    width: 240px;
    margin-right: 20px;
    background-image: url('./icons/date.svg');
}
.gender_box{
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./icons/gender.svg');
    background-position: 18px center;
}
.gender_box input{
    margin-right: 10px;
}
.form_sign_up{
    margin-top:30px;
    width: 500px;
    background: #377DFF;
    border-radius: 10px;
    color: white;
    border: none;
    outline: none;
    padding: 14px;
}
.sign--footer{
    margin-top: 30px;
}
.sign--footer_have_account{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
}
.sign--footer_sign_in{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #377DFF;
    text-decoration: none;
}

/* logged */

.welcome{
    /* border: 1px solid red; */
    margin: 100px auto;
    text-align: center;
}
.welcome > button{
    margin-top:20px;
    width: 240px;
    padding: 14px;
    border-radius: 10px;
    background: #377DFF;
    border: none;
    outline: none;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
