@import url('../style.css');

.wrap--sidebar{
    width: 258px;
    height: 100vh;
    background-color: #F6F6F6;
    padding-left: 24px;
    padding-top: 40px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo--img{
    margin-right: 5px;
}
.logo--text{
    font-family: 'Aclonica';
    font-weight: 600;
    font-size: 22px;
    line-height: 17px;
    color: #EC7160;
}
.sidebar--nav{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
}
.sidebar--nav_text{
    padding-left: 12px;
    margin-bottom: 14px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #898989;
    cursor: pointer;
}
.active{
    border-left: 3px solid #EC7160;
    color: #303030;
}