*，
*::after,
*::before{
    box-sizing: border-box;
}
h1,ul,button{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

/* ------------ */
/* -- navbar -- */
/* ------------ */

.navbar{
    display: flex;
    align-items: center;
    padding: 30px 28px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25)
}

.navbar--logo_icon{
    width: 30px;
    height: 30px;
    margin-right: 8px;
}
.navbar--logo_tex{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22.2535px;
    letter-spacing: -0.05em;
    color: #00ABCA;
    margin-right: auto;
}
.navbar--mode{
    display: flex;
    align-items: center;
}
.navbar--mode_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #D5D4D8;
    cursor: pointer;
}
.navbar--mode_text:first-of-type{
    margin-right: 8px;
}
.navbar--mode_btn{
    width: 26px;
    height: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    vertical-align: middle;
    margin-right:8px;
}
.ligt{
    color: #2B283A;
}

/* ------------ */
/* --- main --- */
/* ------------ */
.main{
    padding-top: 57px;
    padding-left: 27px;
    height: calc(100vh - 150px);
}
.main--title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 39.06px;
    letter-spacing: -0.05em;
    color: #2B283A;
}
.main--list{
    margin-left: 51px;
    margin-top: 46px;
}
.main--list > li{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2B283A;
    margin-bottom: 20px;
}
.main--list > li::marker{
    color: #00ABCA;
    font-size: 1.4rem;
}

.main--logo{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* ------------ */
/* --- dark mode --- */
/* ------------ */

.navbar.dark{
    background: #21222A;
}
.main.dark{
    background-color: #282D35;
}
.dark > .main--list > li{
    color: white;
} 
.dark > .main--title{
    color: white;
}
.nav.dark > .dark--mode{
    color: white;
}
.navbar.dark > .navbar--mode > .ligt{
    color: #918E9B;
}
