*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}

/* ------------------- */
/*       Navbar        */
/* ------------------- */
.wrap--navbar {
  width: 258px;
  height: 100vh;
  background-color: #f6f6f6;
  padding-left: 24px;
  padding-top: 40px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo--img {
  margin-right: 5px;
}
.logo--text {
  font-family: "Aclonica";
  font-weight: 600;
  font-size: 22px;
  line-height: 17px;
  color: #ec7160;
}
.navbar {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
}
.navbar--text {
  padding-left: 12px;
  margin-bottom: 14px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #898989;
  cursor: pointer;
  text-decoration: none;
}
.navbar > .active {
  border-left: 3px solid #ec7160;
  color: #303030;
  transition: all 0.25s;
}

/* ------------------- */
/*       Home page     */
/* ------------------- */
.wrap--home {
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
}
.wrap--home_title {
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  color: #303030;
  margin: 97px auto 0;
}
.wrap--home_content {
  width: 600px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #303030;
  margin: 30px auto 0;
}
.wrap--home_content_special {
  color: #ec7160;
}
.wrap--home_img {
  display: block;
  margin: 30px auto 0;
}
.btn {
  width: 265px;
  height: 40px;
  background: #ec7160;
  border-radius: 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  outline: none;
  border: none;
}
.wrap--home_btn:active {
  background-color: rgba(236, 113, 96, 0.5);
}

/* ------------------- */
/*     contact page    */
/* ------------------- */
.wrap--contact {
  width: 600px;
  margin: 0 auto;
}
.wrap--contact_title {
  margin-top: 61px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: capitalize;
  color: #303030;
}
.wrap--contact_form {
  margin-top: 31px;
}
.row {
  margin-bottom: 36px;
}
.row > label,
.row > p > label {
  display: block;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #898989;
  margin-bottom: 9px;
}
.row > input,
.row > p > input {
  width: 600px;
  height: 45px;
  background: #f6f6f6;
  border-radius: 7px;
  outline: none;
  border: none;
}
.first-row {
  display: flex;
}
.first-row > p > input {
  width: 270px;
}
.first-column {
  margin-right: 61px;
}
.row > textarea {
  width: 600px;
  height: 135px;
  background: #f6f6f6;
  border-radius: 7px;
  outline: none;
  border: none;
}
.wrap--contact_form_btn {
  width: 123px;
  height: 40px;
  background: #ec7160;
  border-radius: 7px;
  outline: none;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

/* ------------------- */
/*     notes page    */
/* ------------------- */

.note-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* ---------Note Sidebar css---------- */
.contaienr--note_sidebar {
  position: relative;
  height: 100vh;
}
.wrap--note_sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 100%;
  border-right: 2px solid #e7e7e9;
}
.note_sidebar_toggle {
  transform: translateX(-320px);
  z-index: -1;
  transition: all 0.3s;
}
.note_sidebar_toggle + .note--sidebar_switch {
  transform: translateX(-320px) !important;
  background-image: url("./NoteApp/icon/arrow-left.svg") !important;
  transition: all 0.3s;
}

.note--sidebar_switch {
  position: absolute;
  top: 42px;
  left: 305px;
  width: 28px;
  height: 28px;
  background: #ffffff;
  box-sizing: border-box;
  border: 2px solid #e7e7e9;
  border-radius: 50%;
  background-image: url("./NoteApp/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  z-index: 99;
}
.note--sidebar_switch:active {
  transform: scale(1.2);
}
.note--sidebar_btn {
  width: 265px;
  margin: 0 auto;
  margin-top: 78px;
  display: block;
  cursor: pointer;
}
.note--sidebar_btn:active {
  transform: scale(0.9);
  transition: transform 0.15s ease-in;
}
.note--sidebar_title {
  margin-top: 43px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ec7160;
  border-top: 2px solid #e7e7e9;
  border-bottom: 2px solid #e7e7e9;
  padding: 10px 0 6px 28px;
}
.note--sideba_headline {
  padding-top: 24px;
  height: calc(100vh - 205px);
  overflow-y: scroll;
}
.note--sideba_headline_row {
  position: relative;
  width: 266px;
  text-align: left;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 30px;
}
.note--sideba_headline_row:last-of-type {
  margin-bottom: 0;
}

.row--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  padding: 8px 10px;
  background: #f6f6f6;
  border-radius: 8px;
  z-index: -999;
  position: absolute;
  top: -10px;
  left: -16px;
}

.note--sideba_headline_title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #303030;
  margin-bottom: 3px;
}
.note--sideba_headline_content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #898989;
}
.date {
  margin-top: 8px;
}
.ellipsis {
  white-space: nowrap; /*取消换行*/
  overflow: hidden;
  text-overflow: ellipsis; /*溢出部分打点展示*/
}

.delete-btn {
    position: absolute;
    right: 0px;
    bottom: 5px;
    background-color: transparent;
    width: 25px;
    border: none;
    outline: none;
    z-index: 1000;
    display: none;
    margin-right: 10px;
    cursor: pointer;
  }
  .delete-btn_icon {
    width: 100%;
  }
  
  .row--active > .delete-btn {
    display: block;
  }

/* ---------Note Editor css---------- */
.pane {
  position: absolute;
  right: 0;
  top: 0;
  width: 74%;
  height: 100vh;
}
.pane .react-mde {
  border: none;
  border-radius: none;
}
.mde-header {
  background: #ffffff;
  border: 1px solid #d2d2d2;
  margin-top: 77px;
}
.mde-tabs {
  position: absolute;
  top: 39px;
  left: 0px;
}
.pane .mde-header .mde-tabs button {
  width: 67px;
  height: 24px;
  background: rgba(236, 113, 96, 0.5);
  border-radius: 2px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  outline: none;
  border: none;
}
.pane .mde-header .mde-tabs button:first-of-type {
  margin-right: 9px;
  margin-left: 0px;
}

.pane .mde-header .mde-tabs button.selected {
  background: #ec7160;
}
.mde-textarea-wrapper {
  background: #ffffff;
  border: 1px solid #d2d2d2;
}

/* ------------------- */
/*     account page    */
/* ------------------- */
.container--signin{
    display: flex;
    height: 100vh;
}
.signin--left{
    position: relative;
    flex: 1;
    height: 100%;
    background: linear-gradient(0deg, #EC7160, #EC7160);
}
.signin--logo{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 65px;
    margin-left: 90px;
}
.signin--bg_img{
    position:absolute;		
	left:50%; 
    top:50%;
    transform:translate(-50%,-50%);
}
.signin--bg_img > img{
    width: 500px;
}
.signin--right{
    flex: 1;
    height: 100vh;
}
.signin--back_btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 57px;
}
.signin--back_btn_text{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #8692A6;
    margin-left: 14.14px;
}
.wrap--account{
    width: 432px;
    height: auto;
    margin: 0 auto;
}
.wrap--account_title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-top: 30px;
}
.third_party_accounts{
    margin-top: 29px;
}
.third_party_accounts_btn{
    background: #FFFFFF;
    border: 0.802632px solid rgba(82, 76, 76, 0.38);
    border-radius: 8.02632px;
    padding: 17.66px 16.86px 12.84px;
    outline: none;
}
.third_party_accounts_btn:first-of-type{
    margin-right: 50px;
}
.third_party_accounts_btn > svg{
    vertical-align: middle;
}
.btn_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12.8421px;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: rgba(82, 76, 76, 0.38);
    margin-left: 5px;
}
.divide{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    display: inline-block;
    width: 180.59px;
    height: 1px;
    background-color:  rgba(82, 76, 76, 0.38);
}
.divide_text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16.0526px;
    line-height: 24px;
    letter-spacing: 0.12em;
    color: #524C4C;
}
.account_form{
    margin-top: 25px;
}
.account_form_row > label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
    display: block;
    margin-bottom: 13px;
}
.account_form_row > input{
    width: 426px;
    height: 48px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    text-indent: 10px;
}
.account_form_row:first-of-type{
    margin-bottom: 24px;
}
.account_btn{
    width: 426px;
    height: 54px;
    background: #EC7160;
    border-radius: 6px;
    outline: none;
    border: none;
    margin-top: 50px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
}
.signin--footer{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;
    text-align: center;
    margin-top: 30px;
}
.signin--footer_link{
    color: #EC7160;
    text-decoration: none;
}
.signup-desc{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8692A6;
    margin-top: 10px;
}

/* ------------------- */
/*     notfound page    */
/* ------------------- */
.not_found{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}